<p>students works!</p>

<div fxLayout="row wrap" fxLayoutAlign="center">
  <div fxFlex="90" style="text-align: right; padding-top: 2rem; padding-bottom: 2rem;" >
    <button mat-fab color="primary" (click)="this.openForm()" aria-label="Agregar nuevo estudiante" matTooltip="Agregar nuevo estudiante">
      <mat-icon>person_add_alt</mat-icon>
    </button>
  </div>
  <div fxFlex="90">
    <app-table-general *ngIf="this.sourceDataTable" [sourceData]="this.sourceDataTable"></app-table-general>
  </div>

</div>
