<div *ngIf="this.source;else nothing">
    <input [id]="this.source.idElement" type="radio" [name]="'only'" [checked]="this.checked" >
    <label [for]="this.source.idElement">
        <div class="header-label text-center">
            {{this.source.title ? this.source.title : "N/D"}}
        </div>
        <div class="content-label">
            <div class="descriptions">
                <span class="icons" [class]="this.source.iconName " ></span>
            </div>
        </div>
    </label>
</div>
<ng-template #nothing>
    <div class="text-center">
        <h2>Sin objeto inicial</h2>
    </div>
</ng-template>
