<h2>Crear nuevo estudiante</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="this.form">
  <div fxLayout="row wrap">
    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Placeholder" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Patronus</mat-label>
      <input matInput placeholder="Placeholder" formControlName="patronus">
    </mat-form-field>

    <mat-form-field appearance="outline" fxFlex="100">
      <mat-label>Edad</mat-label>
      <input matInput placeholder="Placeholder" formControlName="age">
    </mat-form-field>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="20px" >
    <app-upload-image [base64]="true" fxFlex formControlName="image" ></app-upload-image>
    <div fxFlex class="text-center" >
      <div class="img-preview" >
        <img [src]="this.form.get('image').value ? this.form.get('image').value  : '/assets/img/avatar.svg'" alt="img">
      </div>

    </div>

  </div>

  
  <div class="text-center" style="margin-top: 1.5rem;">
    <button [disabled]="!this.form.valid" mat-button>Guardar estudiante</button>
  </div>
</form>
