// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import './assets/scss/tables';
@import './assets/scss/icons/web-cloud-icon/web-cloud-icon';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$web-cloud-services-primary: mat-palette($mat-indigo);
$web-cloud-services-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$web-cloud-services-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$web-cloud-services-theme: mat-light-theme((color: (primary: $web-cloud-services-primary,
      accent: $web-cloud-services-accent,
      warn: $web-cloud-services-warn,
    )));



$custom-typography: mat-typography-config($font-family: "Montserrat, sans-serif",
);
// @include mat-core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($web-cloud-services-theme);
@include angular-material-typography($custom-typography);

:root {
  --green-primary: #00909B;
  --green-light: #19D7DB;
  --green-success: #00D284;
  --green-medium: #0EC480;
  --orange-primary: #FF5730;
  --red-medium: #F1512C;
  --blue-primary: #248AFD;
  --blue-light: #00CFF4;
  --blue-medium: #09CBEE;
  --purple-primary: #7859DF;
  --yellow-primary: #FEDF1B;
  --yellow-medium: #EEDF0C;
  --yellow-warning: #FFD603;
  --gray-default: #274156;
  --green-dark: #183245
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgba(220, 220, 220, 0.219);
}

.text-center {
  text-align: center !important;
}

@mixin customActionElementActiveCard($background, $textColor) {

  input[type="checkbox"],
  input[type="radio"] {
    &:checked {
      &+label {
        background: $background 0% 0% no-repeat padding-box !important;
        color: white !important;

        .header-label {
          color: $textColor !important;
          border-bottom: 1px solid #FFFFFF24;
        }

        span {
          font-size: 5rem;
          color: $textColor !important;
        }

        .icon-element {
          background-color: $textColor !important;
          color: $background !important;
        }

        .content-label {
          color: $textColor !important;
        }
      }
    }
  }

  .icon-element {
    background-color: $background !important;
  }

  span {
    font-size: 5rem;
    color: $background;
  }

}

.card-radio-checked {
  &.collection {
    @include customActionElementActiveCard(var(--red-medium), white);
  }

  &.processOfSale {
    @include customActionElementActiveCard(var(--green-medium), white);
  }

  &.invoicesCollected {
    @include customActionElementActiveCard(var(--blue-medium), white);
  }

  &.leaderboard {
    @include customActionElementActiveCard(var(--yellow-medium), white);
  }
}
